html {
  font-family: sans-serif;
}

.page {
  padding-top: 100px;
}

.greeting {
  margin: 0;
  font-size: 5rem;
  text-align: center;
}

.social {
  text-align: center;
}

.social__link {
  margin: 0 0.25em;
  text-decoration: none;
  color: inherit;
  transition: color 150ms ease-in-out;
}

.social__link:hover {
  color: #ff0d22;
}

.social__icon {
  width: 2em;
  height: 2em;
  fill: currentColor;
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
